<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Think Ink | Find You Next Tattoo</title>

 

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  

    <!-- LINK TO CSS GOES HERE -->

    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">


    <!-- LINK TO  font -->


    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900|Noto+Sans|Nunito" rel="stylesheet">

<!-- font-family: 'Lobster Two', cursive; -->
<!-- font-family: 'Open Sans', sans-serif;
font-family: 'Lobster', cursive; -->
<!-- font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
 -->
</head>




<body>

<div id="wrapper"> 
 
  <div id="header_profile"> 

<img id="logo" src="/images/ThinkInkLogo.png">
    <div class="top_banner_profile">
      <div class="navigation">
      <ul style="margin-left: 600px;">
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul><hr>
    </div>
    </div>
   

    </div>
  

  <div id="page_content"> 
  
    {{{ body }}}

    <div class="clear"></div>
    
    <div id="footer">Copyright &copy; ThinkInk 2018. 
    
    </div>
	
  </div>

</div>

  

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">

$(document).ready(function (){



function sendSMS(fieldReq1, fieldReq2) {


};

    
    //create new burger to be eaten
    $('#text-button').on("click", function() {
        event.preventDefault();
        
        var x = $('#customer-number').val().trim();
        var y = $('#customer-message').val().trim();
        
        if (x !== '' || y !== '') {

            sendSMS(x,y);
            alert("Congratulations, your message has been sent!");          
        }

        else {

          return alert("Please fill out both fields in order to send the artist an SMS message.");
          }

    });

});


</script>

</body></html>