<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Think Ink | Profiles</title>

    <!-- LINK TO CLEAR GOES HERE -->

    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <!-- LINK TO CSS GOES HERE -->

    <link href="assets/css/style.css" rel="stylesheet" type="text/css">

    <!-- LINK TO JAVASCRIPT GOES HERE -->


    <script src="assets/javascript/app.js"></script>


    <!-- LINK TO  font -->


    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900|Noto+Sans|Nunito" rel="stylesheet">

<!-- font-family: 'Lobster Two', cursive; -->
<!-- font-family: 'Open Sans', sans-serif;
font-family: 'Lobster', cursive; -->
<!-- font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
 -->
</head>




<body>

<div id="wrapper"> 

  <div id="header"> 

    <div class="top_banner">
      <img src="images/ThinkInkLogo.png">
    </div>
	

    <div class="navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
      </ul><hr>
    </div>

</div>

  <div id="page_content"> 
  
    <div class="left_side_bar"> 

      <div class="col_1">
        <div class="box">
          <h1 id="subhead" class="lobster">Filter results by:</h1>
          <ul>
            <li><a href="#">Price - Highest to lowest</a></li>
            <li><a href="#">Price - Lowest to Highest</a></li>
            <li><a href="#">Specialty</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Filter</a></li>
          </ul>
        </div>
      </div>

      <div class="col_1">
        <h1 class="lobster">Featured Artist</h1>
        <div class="box">
          <p>Maybe we throw a featured profile here. Basically this is only here to fill space.</p>
          <br>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
               Aenean commodo Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo</p>      
        </div>
      </div>

    </div>

    <div class="right_section">
      <div class="common_content">
        <h2>Welcome</h2>
       
        <p>Welcome to Think Ink. Here is how to use our service... Etiam ultricies nisi vel augue. Curabitur ullamcorperultricies nisi. Nam eget dui. Etiam ultricies nisi vel augue. Curabitur ullamcorperultricies nisi. Nam eget dui.Etiam ultricies nisi vel augue. Curabitur ullamcorperultricies nisi. Nam eget dui.</p>
        </div>


      <div class="top_content">

        {{{ body }}}
        <!-- <div class="column_one">
          <h2>Profiles Go Here</h2>
          
          <br>
          
          <p><a href="#">Add Profiles</a></p></div>



        <div class="column_two border_left">
          <h2>More Profiles Go Here</h2>
          
          <br>
          <p><a href="#">Add Profiles</a></p></div> -->
      </div>
    </div>

    <div class="clear"></div>
    
    <div id="footer">Copyright &copy; ThinkInk 2018. 
    
    </div>
	
  </div>

</div>

</body></html>