

<div class="common_content">
        <h1>Artist Name</h1>
       
        <p>Welcome to my profile here is why I am awesome as shit... Etiam ultricies nisi vel augue. Curabitur ullamcorperultricies nisi. Nam eget dui. Etiam ultricies nisi vel augue. Curabitur ullamcorperultricies nisi. Nam eget dui.Etiam ultricies nisi vel augue. Curabitur ullamcorperultricies nisi. Nam eget dui.</p>
        </div><br><br> 

        artistName, loaction, artistNumber, indepndent, shopName, hourlyRate, artistMin, stylePref, artistInsta, shopLink, artistBio, artistComments