
<div class="left_side_bar">
  <div class="col_1">
    <div class="box3">
      <h1 class="lobster">Featured Artist</h1>
      <p>Feature to come!</p>
      <br>
      <br>

    </div>
  </div>


<div class="right_section">
  <div class="common_content">
    <h2>Support</h2>

    <p>If you have questions about our service search or are an artist and would like to optimize your search please contact
      us via e-mail: example@gmail.com</p>
  </div>

</div>