<div class="left_side_bar"> 
      <div class="col_1">
        <div class="box" style="margin-top: 10px;">
          <h1 class="lobster">Featured Artist</h1>
          <p>Feature to come!</p>
          <br>
          <br>
                   
        </div>
      </div>

    </div>

    <div class="right_section">
      <div class="common_content">
        <h1 id="artist_name" class="lobster" style="margin-top: 10px;"><div id="artist_name">Support</div></h1>
       
        <p>If you have questions about our service search or are an artist and would like to optimize your search please contact us via e-mail: example@gmail.com</p>
        </div>

    </div>